<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if current_user %>
  <%= "Welcome back #{current_user.email}!" %>
  <%= button_to("Log out", session_url, method: :delete) %>
  <% else %>
  <%= button_to("Log in", new_session_url, method: :get) %>
  <%= button_to("Register", new_user_url, method: :get) %>
  <% end %>

<%= yield %>

</body>
</html>
