<%= render :partial => "layouts/errors" %>

<% action_url = (action == :new) ? band_albums_url : edit_album_url(album) %>

<% if action == :new %>
  <h2>Create new album</h2>
<% else %>
  <h2>Edit album</h2>
<% end %>

<form action="<%= action_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
        value="<%= form_authenticity_token %>">
        
<% if action == :edit %>
<input type="hidden" name="_method" value="put">
<% end %> 

<label for="album_band_id">Band</label>
<select name="album[band_id]" id="album_band_id">
  <option></option>
  <% @bands.each do |band| %>
    <option value=<%= band.id %> <%= "selected" if @album && @album.band.id == band.id %>><%= band.name %></option>
  <% end %>
</select>
<br>  
        
<label for="album_name">Album name</label>
<input name="album[name]" id="album_name" type="text">
<br>

<label for="album_version_studio">Studio</label>
<input type="radio" name="album[version]" id="album_version_studio" value="studio" <%= "checked" if @album && @album.version == "studio" %>>
<br>

<label for="album_version_live">Live</label>
<input type="radio" name="album[version]" id="album_version_live" value="live" <%= "checked" if @album && @album.version == "live" %>>
<br>
<br>

<input type="submit" value="Submit">
</form>