<h3>Track</h3>
<%= @track.name %>
<br>

<h3>Album</h3>
<%= link_to("#{@track.album.name}", album_url(@track.album), method: :get) %>

<h3>Band</h3>
<%= link_to("#{@track.band.name}", band_url(@track.band), method: :get) %>
<br>

<h3>User Notes</h3>
<ul>
<% @track.notes.each do |note| %>
<li><%= note.content %></li>
<% end %>
</ul>

<!-- have to pass @track because track_id is in the params -->
<%= button_to("Add note", new_track_note_url(@track), method: :get) %>
<%= button_to("Destroy this track!", track_url, method: :delete) %>
